body{
  position: relative;
}

.draggable {
    font: bold 16px sans-serif;
    width: 140px;
    height: 20px;
    text-align: center;
    background: white;
    cursor: move;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
  }

  .palettezone {
    width: 160px;
    height: 400px;
    background: darkorchid;
    padding: 10px;
    padding-top: 1px;
    float: left;
  }

 #myDiagramDiv {
    flex-grow: 1; 
    height: 400px; 
    border: 1px solid black;
    position: relative; 
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;
  }

  #sample{
    display: flex;    
    flex-direction: column;
  }

  .decitionForm{
    max-width: 500px; 
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ajusta el z-index según sea necesario */
  }

  .decitionformContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ajusta el z-index según sea necesario */
    opacity: .93;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .decitionformContainer form{
    opacity: 1 !important;
    width: 80%;
    z-index: 3000;
    border-radius: 20px;
    border: 2px solid #222;
    padding: 20px 15px;
    max-width: 500px;
    position: relative;
  }

  .decitionformContainer form *{
      margin: 10px 5px;
  }
  .decitionformContainer textarea{
      width: 300px;
      height: 60px;
  }

#decitionText{
  resize: none;
}
#btn_close_form{
  position: absolute;
  top: 0;
  right: 0;
}