#myFormDiv {
    max-width: 800px;
    margin: 0 auto; /* Centrado horizontal */
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; /* Columnas por defecto */
    align-items: flex-start; /* Alinea el contenido hacia el inicio */
    justify-content: center; /* Centrado horizontal */
    gap: 20px;
    position: relative;
    padding-top: 40px;
}

/* Responsivo: Cambios en pantallas más pequeñas */
@media (max-width: 768px) {
    #myFormDiv {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar el contenido en pantallas pequeñas */
    }

    /* Cambiar el orden de los divs que contienen los formularios */
    #multimediaDiv {
        order: -1; /* Mover el formulario de subida al principio */
    }

    #escenaDiv {
        order: 0; /* Mantener el orden del formulario de usuario */
    }

    /* Alinear los botones horizontalmente y centrados */
    .btn-container {
        flex-direction: row; /* Mantener los botones en fila */
        justify-content: center; /* Centrar los botones */
        width: 100%;
    }

    #myFormDiv h1 {
        font-size: 18px;
    }
}
#title-form-escena{
    margin: 0 auto;
    width: 90%;
    position: absolute;
    top: 1%;
}